{{ template "header" . }}

Welcome to Week 7 of Rooted: How Can I Make The Most Of My Life? Part 2

> _[And Jesus asked] “Which of these three do you think was a neighbor to the man who fell into the hands of robbers?” The expert in the law replied, “The one who had mercy on him.” Jesus told him, “Go and do likewise.” - Luke 10:36-37._

### Week 7 Reading Highlights:

- **Day One**: Mercy can come from strange places. Have you ever had an enemy show you mercy? Have you shown an enemy mercy?
  
- **Day Two**: _If you love one another_ you will be known as a disciple of Jesus. Where are you called to love those less fortunate than yourself? Does "less fortunate" only refer to money, if not, what else?
  
- **Day Three**: When our cup overflows with God's spirit, how can we give that spirit to those who are poor in spirit?
  
- **Day Four**: Service as a Lifestyle. When we embody a lifestyle of service, it stops being something we __do__ and becomes something we __are__.
  
- **Day Five**: How can we bring shalom to others? Let us build and maintain relationships that multiply God's peace; the shalom we share should overflow from the other.

### Your Spiritual Journey This Week:

Please, do your homework. Write your prayers. Answer the questions. It is too easy on week 7 to get lazy and stop writing down and working the program. You will get out what you put in.

Please take the spriritual assessment; it will illuminate God's gifts for you. The assessment can help guide you on how to live a lifestyle of service.

The video for the assessment is available [here](http://email.mg.thecrossinglv.com/c/eJwczj2PpiAQAOBfgx0GRgQtLO5ysbt2s92bcRh9SUAMH_v7N7v9Uzyf8j-GePVbfmAJeESum3B_BQDllPodCFvI96swhSfw3V5XD14AiOmPAJg1nm7xVh5knDRmmuVyOpTLqYFXxmP2yw92_wa_AXhcYeBN29UZpaydhvfm0E3HsS7W-WXF9aRjJuu1QyLD0wJD2EDBpJWeQWmtYNQza-vIgXGgnbLCqHSN7c1Ucq3hvuLXSDkNcXu39tTf6S5gv0ruT2T0XOqYyyVgp15KoB57kiezF7DXJ5TQOkZ5hbNJrJVrTXy3oWyVcmvCqEr5iDwm_g4AAP__2nxjbw). You may have to scroll down the page a little to see the video player.

We will be sharing the results of the assessment during our meeting on Tuesday.

### Serve Experience

For those who could make it to the serve experience on 10/18 and 10/19, thank you. You were able to serve those in need by putting physical hope in a box. May your efforts bring some shalom to those in need.

For those who could not make it, The Crossing has many more service opportunities. From childcare to maintenance, production, and spiritual development, there is something for everyone. _Attend one, serve one_ is a pattern many people follow on Sundays to get and stay involved with our community.

### Leadership Opportunity

This group needs a leading couple for after Rooted is completed. If you are interested, please join us at 5:30pm in the Reach Cafe for a meal and conversation.

If you are interested in leading a Rooted group in the future, please also come. You will be able to learn more about it.

{{- template "snacks" . -}}
{{- template "footer" . }}
